@font-face {
  font-family: 'roboto_condensedbold';
  font-display: auto;
  src: url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('/fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$roboto_condensedbold: 'roboto_condensedbold', Arial, Tahoma;

@font-face {
  font-family: 'robotobold';
  font-display: auto;
  src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
  url('/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$robotobold: 'robotobold', Arial, Tahoma;

@font-face {
  font-family: 'robotoitalic';
  font-display: auto;
  src: url('/fonts/roboto-italic-webfont.woff2') format('woff2'),
  url('/fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$robotoitalic: 'robotoitalic', Arial, Tahoma;

@font-face {
  font-family: 'robotolight';
  font-display: auto;
  src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
  url('/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$robotolight: 'robotolight', Arial, Tahoma;

@font-face {
  font-family: 'robotomedium';
  font-display: auto;
  src: url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$robotomedium: 'robotomedium', Arial, Tahoma;

@font-face {
  font-family: 'robotoregular';
  font-display: auto;
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$robotoregular: 'robotoregular', Arial, Tahoma;