$f-mini: $font-size-base * 0.875; //14px
$f-normal: $font-size-base; //16px
$f-medium: $font-size-base * 1.125; // 18px
$f-big: $font-size-base * 1.25; // 20px
$f-big2: $font-size-base * 1.375; // 22px
$f-big3: $font-size-base * 1.5; // 24px
$f-max: $font-size-base * 2.75; // 44px

$lh-normal: $font-size-base * 1.625; // 26px
$lh-medium2: $font-size-base * 1.875; //30px
$lh-max: $font-size-base * 2.25; // 36px
$lh-max3: $font-size-base * 2.5; //40px
$lh-max6: $font-size-base * 2.875; //46px

$blue: #4a74e4;
$blue2: #5c82e7;
$light-blue: #dbe3fa;
$light-blue2: #8da8ee;
$light-blue3: #c8d5f7;
$grey: #d5d5d5;
$dark-grey: #373737;

$halzona: #011b3f;
$loverajto: #7b6655;
$wabi: #eddfd6;