#sidemenu{
  height: calc(100vh - 70px);
  background: $dark-grey;
  ul{
    list-style: none;
    li{
      height: 40px;
      &:hover, &.active{
        position: relative;
        &:before{
          position: absolute;
          display: block;
          content: '';
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
          background: $blue;
        }
      }
      a{
        display: block;
        font-family: $roboto-condensedbold;
        line-height: 40px;
        color: white;
        padding-left: 20px;
      }
    }
  }
}